.enterCode {
  margin-top: 20px;
  margin-bottom: 20px;
}


.input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.output {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.error {
  color: red;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-right: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
